<!doctype html>
<html>
    <head>
         <% include header.ejs %>

        <title>Add publication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
body        { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">

            <div class="col-sm-6 col-sm-offset-3">

                <h1><span class="fa fa-pencil-square-o"></span> Add publication</h1>

                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- LOGIN FORM -->
                <!-- <form action="/addpub" method="post"> -->
                <form class="row" name="htmlform" method="POST" action="/addpublication" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Paper Title</label>
                        <input type="text" class="form-control" required name="title">
                    </div>
                    <div class="form-group">
                        <label>Paper url</label>
                        <input type="text" class="form-control" name="url">
                    </div>

                    <div class="form-group">
                        <label>Authors</label>
                        <input type="text" class="form-control" required name="authors">
                    </div>

                    <div class="form-group">
                        <label>Conference</label>
                        <input type="text" class="form-control" name="conf">
                    </div>

                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control" name="place">
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group col-xs-6">
                            <label>Update 1</label>
                            <input type="text" class="form-control" name="update1">
                        </div>

                        <div class="form-group col-xs-6">
                            <label>Url</label>
                            <input type="text" class="form-control" name="update1url">
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group col-xs-6">
                            <label>Update 2</label>
                            <input type="text" class="form-control" name="update2">
                        </div>

                        <div class="form-group col-xs-6">
                            <label>Url</label>
                            <input type="text" class="form-control" name="update2url">
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group col-xs-6">
                            <label>Update 3</label>
                            <input type="text" class="form-control" name="update3">
                        </div>

                        <div class="form-group col-xs-6">
                            <label>Url</label>
                            <input type="text" class="form-control" name="update3url">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Add</button>
                    <a href="/viewpublication" class="btn btn-warning btn-lg">Cancel</a>
                </form>
            </div>
        </div>
    </body>
</html>
