<!doctype html>
<html>
    <head>
         <% include header.ejs %>

	<title>People</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
body        { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">

            <div class="col-sm-6 col-sm-offset-3">

                <h1><span class="fa fa-sign-in"></span> Add person</h1>

                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- LOGIN FORM -->
                 <form class="row" name="htmlform"
                                   method="POST" action="/addpeople" enctype="multipart/form-data">
              <!--  <form action="/addpeople" method="post"> -->
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="form-group">
                        <label>Homepage url</label>
                        <input type="text" class="form-control" name="link">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Add</button>
                    <a href="/viewpeople" class="btn btn-warning btn-lg">Cancel</a>
                </form>
            </div>
        </div>
    </body>
</html>
