<!doctype html>
<html>
    <head>
        <% include header.ejs %>

	<title>Update News</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
body        { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">

            <div class="col-sm-6 col-sm-offset-3">

                <h1><span class="fa fa-pencil-square-o"></span> Update news</h1>

                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- LOGIN FORM -->
                    <form class="row" name="htmlform"
                                      method="POST" action="/editnews/<%= user._id %>" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>News Title</label>
                        <input type="text" class="form-control" name="news" value = "<%= user.title %>" required>
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <textarea type="text" class="form-control" required name="content"><%= user.content %></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Update</button>
                    <a href="/viewnews" class="btn btn-warning btn-lg">Cancel</a>
                </form>
            </div>
        </div>
    </body>
</html>
