<!doctype html>
<html>
    <head>
        <% include header.ejs %>

        <title>People</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script type="text/javascript" src="../js/bootstrap-multiselect.js"></script>
        <link rel="stylesheet" href="../css/bootstrap-multiselect.css" type="text/css"/>
        <style>
body        { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">

            <div class="col-sm-6 col-sm-offset-3">

                <h1><span class="fa fa-sign-in"></span> Add Project</h1>

                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- LOGIN FORM -->
                <form class="row" name="htmlform" id="myForm"
                                  method="POST" action="/editproject/<%=user._id%>" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" required name="title" value ="<%= user.title %>">
                    </div>
                    <div class="form-group">
                        <label>Brief Description</label>
                        <input type="text" class="form-control" required name="shortDesc" value ="<%=user.shortDesc %>">
                    </div>
                    <div class="form-group">
                        <label>Detailed Description</label>
                        <textarea type="text" class="form-control" required name="longDesc"><%=user.longDesc%></textarea>
                    </div>
                    <div class="form-group">
                        <label>Website</label>
                        <input type="text" class="form-control" name="website" value = "<%=user.website%>">
                    </div>
                    <div class="form-group">
                        <label>Link to Image</label>
                        <input type="text" class="form-control" name="linkToImage" value = "<%= user.linkToImage %>">
                    </div>

                    <label>People:</label>
                    <select id="people" class ="form-control" multiple="multiple" >
                        <% for (var i=0, len = a1.length; i < len; i++) { %>
                        <option value="<%= a1[i]._id %>"><%= a1[i].name %></option>
                        <% } %>
                    </select>
                    <br/>
                    <br/>

                    <label>News:</label>
                    <select id="news" class ="form-control" multiple="multiple" >
                        <% for (var i=0, len = a2.length; i < len; i++) { %>
                        <option value="<%= a2[i]._id %>"><%= a2[i].title %></option>
                        <% } %>
                    </select>
                    <br/>
                    <br/>

                    <label>Publications:</label>
                    <select id="pub" class ="form-control" multiple="multiple" >
                        <% for (var i=0, len = a3.length; i < len; i++) { %>
                        <option value="<%= a3[i]._id %>"><%= a3[i].title %></option>
                        <% } %>
                    </select>
                    <br/>
                    <br/>

                    <input id="submit" type="submit" class="btn btn-warning btn-lg" onclick="abc()">
                    <a href="/viewproject" class="btn btn-warning btn-lg">Cancel</a>
                    <div class="form-group" style="visibility:hidden">
                        <input type="text" class="form-control" name="peopleH" id="peopleH">
                        <input type="text" class="form-control" name="newsH" id="newsH">
                        <input type="text" class="form-control" name="pubH" id="pubH">
                    </div>
                </form>
            </div>
        </div>


        <script type="text/javascript">
   var users= <%- JSON.stringify(user) %>;
$(document).ready(function() {
    $('#people').multiselect({
        enableFiltering: true
    });
	$('#people').multiselect('select',users.people);


	
    $('#pub').multiselect({
        enableFiltering: true
    });
	$('#pub').multiselect('select',users.publications);
    $('#news').multiselect({
        enableFiltering: true
    });
	$('#news').multiselect('select',users.news);
});
function abc() {
$('#peopleH').val($('#people').val());
$('#pubH').val($('#pub').val());
$('#newsH').val($('#news').val());
$('#myForm').submit();
}
        </script>


    </body>
</html>
