<!doctype html>
<html>
    <head>
        <title>Edit Person Details</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
          <% include header.ejs %>
   
  <style>
body        { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">

            <div class="col-sm-6 col-sm-offset-3">

                <h1><span class="fa fa-pencil-square-o"></span> Edit person details</h1>

                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- LOGIN FORM -->
               <!-- <form action="/editpeople" method="post"> -->
               <form class="row" name="htmlform" method="POST" action="/editpeople/<%= user._id %>" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" required name="name" value="<%= user.name %>">
                    </div>
                    <div class="form-group">
                        <label>Homepage url</label>
                        <input type="text" class="form-control" name="homepage" value = "<%= user.link %>">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Update</button>
                     <a href="/viewpeople" class="btn btn-warning btn-lg">Cancel</a>
                    </form>
            </div>
        </div>
    </body>
</html>
