<!doctype html>
<html>
    <head>
        <title>Edit Publication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
body        { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">

            <div class="col-sm-6 col-sm-offset-3">

                <h1><span class="fa fa-pencil-square-o"></span>Edit publication</h1>

                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- LOGIN FORM -->
                <!-- <form action="/editpublication" method="post"> -->
                <form class="row" name="htmlform" method="POST" action="/editpublication/<%= user._id %>" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Paper Title</label>
                        <input type="text" class="form-control" name="title" require value="<%= user.title %>">
                    </div>
                    <div class="form-group">
                        <label>Paper url</label>
                        <input type="text" class="form-control" name="url" require value= "<%= user.url %>">
                    </div>

                    <div class="form-group">
                        <label>Authors</label>
                        <input type="text" class="form-control" name="authors" value= "<%= user.authors %>">
                    </div>

                    <div class="form-group">
                        <label>Conference</label>
                        <input type="text" class="form-control" name="conf" value = "<%= user.conf %>">
                    </div>

                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control" name="place" value = "<%= user.place %>">
                    </div>

                    <div class="form-group">
                        <label>update1</label>
                        <input type="text" class="form-control" name="update1" value = "<%= user.links[0].title %>" >
                    </div>

                    <div class="form-group">
                        <label>update1 url</label>
                        <input type="text" class="form-control" name="update1url" value = "<%= user.links[0].link %>" >
                    </div>

                    <div class="form-group">
                        <label>update2</label>
                        <input type="text" class="form-control" name="update2" value = "<%= user.links[1].title %>">
                    </div>

                    <div class="form-group">
                        <label>update2 url</label>
                        <input type="text" class="form-control" name="update2url" value = "<%= user.links[1].link %>">
                    </div>

                    <div class="form-group">
                        <label>update3</label>
                        <input type="text" class="form-control" name="update3" value = "<%= user.links[2].title %>">
                    </div>

                    <div class="form-group">
                        <label>update3 url</label>
                        <input type="text" class="form-control" name="update3url" value = "<%= user.links[2].link %>">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Update</button>
                    <a href="/viewpublication" class="btn btn-warning btn-lg">Cancel</a>
                </form>
            </div>
        </div>
    </body>
</html>
