<!doctype html>
<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <style>
body        { padding-top:10px; }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div style="text-align:right;">
                <% if(logged === true) { %>
                <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Profile</a>
                <a href="/logout" class="btn btn-default"><span class="fa fa-sign-out"></span> Logout</a>
                <% } else { %>
                <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
                <% } %>
            </div>
        </div>
<div class = "container"> <h1 style="color:brown;"> <a href = "http://web.eecs.umich.edu/~mozafari/">Barzan Mozafar </a> |  <a href = "http://umich.edu/">University of Michigan </a> <h1></div> 

        <div class="container">
            <h1>
                Projects
            </h1>
            <br><br><ul>
                <% for(var i=0, len=projects.length; i < len;i++) { %>
	<li><h4><a href="#<%= projects[i]._id %>"><strong><%- projects[i].title %></strong>: <%- projects[i].shortDesc %></a> </h4>
                    <% } %>
            </ul>
            <br/>
            <br/>
            <% for(var i=0, len=projects.length; i < len;i++) { %>
            <div id="#<%= projects[i]._id %>">
                <% if(projects[i].website) { %>
                <a href="<%= projects[i].website %>">
                    <% } %>
                    <h2 style="color:brown;"><%- projects[i].title %></h2>
                    <% if(projects[i].website) { %>
                </a>
                <% } %>
                <% if(projects[i].website) { %>
                <a href="<%= projects[i].website %>">
                    <% } %>
                   <h5 style="color:brown;"> <%- projects[i].shortDesc %> </h5>
                    <% if(projects[i].website) { %>
                </a>
                <% } %>
                <p>
	<h4><strong>People: </strong> </h4>
                <h4> <% for(var j=0; j < projects[i].people.length; j++) { %>
                <% for(var k=0; k < people.length; k++) { %>
                <% if(people[k]._id == projects[i].people[j]) { %>
	        <% if(people[k].link) { %>
		<a href="<%= people[k].link%>" target="_blank">
                    <%- people[k].name %>
                </a>
                <% } else { %>
                <%- people[k].name %>
                <% } %>
                <% if(j==projects[i].people.length-1) { %>
                .
                <% } else { %>
                ,
                <% } %> 
                <% break; } %>
                <% } %>
                <% } %>
                </h4><br>
                <p>
                <div class="col-xs-12"> 
                   <% if(projects[i].linkToImage) { %>

                    <div class="col-xs-4">
                        <img class="img img-responsive" src="<%= projects[i].linkToImage %>"/>
                    </div>
                    <% } %>
                    <% if(projects[i].linkToImage) { %>

                    <div class="col-xs-8">
                       <% } %>

                        <%- projects[i].longDesc %> </p><br>&nbsp;
                      <% if(projects[i].linkToImage) { %>

                     </div>
                        <% } %>

                </div>
                <br>



                <p>
                <div class="col-xs-12">
                    <% for(var j=0; j < projects[i].news.length; j++) { %>
                    <% for(var k=0; k < news.length; k++) { %>
                    <% if(news[k]._id == projects[i].news[j]) { %>
                    <h5 style="color:red"> News: <%- news[k].title %> </h5>
                    <%- news[k].content %>
                    <% break; } %>
                    <% } %>
                    <% } %>
                    <br><br>&nbsp;
                </div>
                
                  <p>
                <div class="col-xs-12">
	            <h4><strong>Publications: </strong> </h4> <br>
                     <ul>
                    <% for(var j=0; j < projects[i].publications.length; j++) { %>
                    <% for(var k=0; k < publications.length; k++) { %>
                    <% if(publications[k]._id == projects[i].publications[j]) { %>
                 <li> <%- publications[k].authors%>. 
                <% if(publications[k].url) { %>
                <a href="<%= publications[k].url %>">
                    <% } %>
                   <font color="brown"> <%- publications[k].title %>. </font>
                    <% if(publications[k].url) { %>
                </a>
                <% } %><em> <%- publications[k].conf %></em>. <%- publications[k].place%> 
		<br>  
                   <% for(var m=0; m < publications[k].links.length; m++) { %>
                             <% if(publications[k].links[m].title) { %>
                              <a href="<%= publications[k].links[m].link %>">    <font color="green"> <%- publications[k].links[m].title %>. </font> </a> <br>
				<% } %>
                         <% } %>




		    </li>
                    <% break; } %>
                    <% } %>
                    <% } %>
                     </ul>
                    <br><br>
                
		</div>

            </div>
            <% } %>
        </div>
    </body>
</html>
