<!doctype html>
<html>
    <head>
        <title>List of Local Users</title>
        <% include header.ejs %>
    </head>
    <body>
        <div class="container">
            <div style="padding-top:5vh;">
                Hello Super User!
                <br>
                Here is what you wanted:
                <br>
                <% if(local_users.length == 1) { %>
                <br>
                <br>
                There is no user other than you!
                <% } else { %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Current Level</th>
                            <th>Level Requested</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var count = 0; %>
                        <% for (var i = 0, len = local_users.length; i < len; i++) { %>
                        <% if (local_users[i].level < 100) { %>
                        <% count++; %>
                        <tr>
                            <td> <%= count %> </td>
                            <td> <%= local_users[i].username %> </td>
                            <td> <%= local_users[i].level %> </td>
                            <td> <%= local_users[i].levelRequested %> </td>
                            <td>
                                <a class="btn btn-success" href="/approve/<%= local_users[i]._id  %>/">Approve</a>
                                <a class="btn btn-warning" href="/deny/<%= local_users[i]._id  %>/">Deny</a>
                                <a class="btn btn-danger" href="/delete/<%= local_users[i]._id  %>/">Delete</a>
                            </td>
                        </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
                <% } %>
                <br/>
                <br/>
                <a href="/profile" class="btn btn-primary">Go to Profile</a>
            </div>
        </div>
    </body>
</html>
