<!doctype html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
         <div class="col-xs-12">
            <div class="well">
                <p>
                <strong>Username</strong>: <%= user.username %><br>
                <strong>Level</strong>: <%= user.level %><br>
                </p>
                <% if(user.level === 0) { %>
                <% if(user.levelRequested === 50) { %>
                <a href="/request/<%= user._id %>/0" class="btn btn-warning">Delete Request</a>
                <% } else { %>
                <a href="/request/<%= user._id %>/50" class="btn btn-warning">Request for permission</a>
                <% } %>
                <% } else if(user.level === 50) { %>
                <a href="/viewnews" class="btn btn-default">News Table</a>
                <a href="/viewpublication" class="btn btn-default">Publication Table</a>
                <a href="/viewproject" class="btn btn-default">Project Table</a>
                <a href="/viewpeople" class="btn btn-default">People Table</a>
                <% } else { %>
                <a href="/list" class="btn btn-default">List of Users</a>
                <br/> <br/>
                <a href="/viewnews" class="btn btn-default">News Table</a>
                <a href="/viewpublication" class="btn btn-default">Publication Table</a>
                <a href="/viewproject" class="btn btn-default">Project Table</a>
                <a href="/viewpeople" class="btn btn-default">People Table</a>
                <% } %>
            </div>
        </div>
    </div>
</div>
</body>
</html>
