<!doctype html>
<html>
    <head>
        <title>News</title>
        <% include header.ejs %>
    </head>
    <body>
        <div class="container">
            <div style="padding-top:5vh;">
                <h1> List of Publications in the database </h1>
                <br>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0, len = users.length; i < len; i++) { %>
                        <tr>
                            <td> <%= i+1 %> </td>
                            <td> <%= users[i].title %> </td>
                            <td>
                                <a class="btn btn-primary" href="/editpublication/<%= users[i]._id %>">
                                    Edit
                                </a>
                            </td>

                            <td>
                                <a class="btn btn-primary" href="/delpublication/<%= users[i]._id %>">
                                    Delete
                                </a>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <br>
                <br>
                <a href="/addpublication" class="btn btn-primary">Add publications</a>
                 <a href="/" class="btn btn-primary">Home</a>
		<a href="/profile" class="btn btn-primary">Profile</a>

	    </div>
        </div>
    </body>
</html>
